.page-hero{
   padding-top: 153px;
   padding-bottom: 80px;
   min-height: 600px;
   background-color: var(--color-athens);
   background-position: right -8px top;
   background-repeat: no-repeat;

   &__breadcrumbs{
      margin-bottom: 40px;
   }

   &__title{
      margin: 0;
      max-width: 600px;
      font-weight: 700;
      font-size: 72px;
      line-height: 130%;
      letter-spacing: 1px;
      color: var(--color-ebony);
      text-transform: uppercase;
      margin-bottom: 24px;
   }
   &__descr{
      margin: 0;
      font-size: 20px;
      line-height: 150%;
      color: var(--color-storm);
      max-width: 600px;
   }
   &--services{
      background-image: url("../img/services-hero-bg.png");
   }
   &--services-inner{
      background-image: url("../img/services-inner-hero-bg.png");
   }
}